/* Global Styles */
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(120deg, #FFDFDE, #6A7BA2); /* Soft pastel gradient */
    font-family: 'Arial', sans-serif;
    transition: background-color 0.3s ease;
}

/* Container */
.container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    padding: 30px 20px;
}

/* Navbar */
.navbar {
    width: 100%;
    background-color: #85a7c3;
    color: white;
    text-align: center;
    padding: 15px;
    margin-bottom: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.navbar:hover {
    background-color: #698299;
}

li{
    list-style-type: none;
}

/* Content Layout */
.content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding: 20px;
}

/* Left Div */
.leftDiv {
    max-width: 500px;
    text-align: left;
}

h1 {
    font-family: 'Algerian', cursive;
    font-size: 50px;
    color: #85a7c3;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 20px;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);
}

h3 {
    font-size: 24px;
    color: #214665;
    margin-bottom: 30px;
    font-weight: 300;
}

.button_shop_now {
    background-color: #85a7c3;
    width: 220px;
    height: 50px;
    border: none;
    border-radius: 30px;
    font-size: 18px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    text-align: center;
    margin-bottom: 20px;
}

.button_shop_now:hover {
    background-color: #698299;
    transform: scale(1.05);
}

/* Social Media Icons */
.icons {
    display: flex;
    gap: 15px;
    justify-content: start;
    margin-top: 20px;
}

.icons svg {
    color: #214665;
    font-size: 30px;
    transition: color 0.3s ease;
}

.icons svg:hover {
    color: #698299;
}

/* Right Div */
.rightDiv img {
    max-width: 100%;
    border-radius: 15px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
}

/* Donuts List Section */
.donuts-list {
    margin-top: 50px;
    padding: 40px 0;
    background-color: #f9f9f9;
    width: 100%;
    text-align: center;
}

/* Responsive Design */
@media (max-width: 768px) {
    .content {
        flex-direction: column;
        text-align: center;
    }

    .leftDiv {
        max-width: 100%;
    }

    .button_shop_now {
        width: 180px;
    }

    .icons {
        justify-content: center;
    }
}
.footer{
    background-color: #85a7c3;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 50px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}